---
import MainContent from "../components/MainContent/MainContent.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script is:inline src="assets/js/flowbite.min.js"></script>
    <link href="assets/css/flowbite.min.css" rel="stylesheet" />
    <script is:inline src="/wails/ipc.js"></script>
    <script is:inline src="/wails/runtime.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <Sidebar />
    <MainContent>
      <slot />
    </MainContent>
  </body>
</html>
<style is:global>
  @import "@flaticon/flaticon-uicons/css/all/all.css";
  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #2d3748;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #1a202c;
  }
</style>
